*{
    font-family: "Î¢ÈíÑÅºÚ","Microsoft YaHei",Arial,Verdana;
    padding:0;
    margin:0;
    list-style: none;
}
/*
.container{min-width:970px !important;}
*/

/*header*/
.navbar{border-radius:0;}
.navbar-top{margin-bottom:0; border:0;}
.navbar-bottom{background:#373E40; border:0;}
.navbar-bottom .navbar-nav>li>a{color:#fff !important;}
.navbar .navbar-nav li:hover{background:#222222 !important;}
.navbar .header_name{color:#fff;font-size:25px !important;}
.container-log{margin-top:-20px; min-height:381px; max-width: 1440px;}

/*content*/
.order_nav{margin-bottom:20px;}
.order_list .panel>.panel-heading>h6 { margin:0;}
.order_list .order_left{padding-left:40px;}
.logdiv{border:1px solid #e6e6e6;background:#fff; margin-top:40px; }
.logdiv .form-signin>input{ margin-bottom:15px !important;}

.userpage_title{
    padding:4px 0;
    border-bottom: 2px solid #00AEAE;
    color:#00AEAE;
    font-weight:bold;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

